<div id="destination2"></div>
<div class="ui raised block segment">
  <h1 class="ui dividing header">
    Block {{model.orderNumber}} <div class="ui sub header">dropdown</div>
  </h1>

{{#if isEditing}}
  <div class={{if errorMessage "ui error form" "ui form"}}>
    <div class="ui error message">
      <p>{{errors.title}}</p>
    </div>
    <div class={{if errors.title "field error required" "field required"}}>
      <label>Menu Title </label>
      {{one-way-input class="active" value=title maxlength="42" update=(action (mut title))}}
    </div>
    <div class="field">
      <label>Help hover text </label>
      {{one-way-input value=helpText maxlength="140" update=(action (mut helpText))}}
    </div>
    <button class="ui mini teal button" {{action 'saveBlock'}}>Save</button>
    <button class="ui mini button" {{action 'cancelEditing'}}>Cancel</button>
  </div>
{{else}}
  <label class="mylabel">Menu Title </label>
  <p>{{model.title}}</p>
  <label class="mylabel">Help hover text</label>
  <p>{{model.helpText}}</p>
  <p class=""><a href='#' {{action 'editBlock'}}>Edit</a> |
  <a href='#' {{action 'deleteConfirm'}}>
    Delete</a>
</p>
{{#if deleteMessage}}
  <div class="ui message transition">
    <i class="close icon" {{action 'cancelDelete'}}></i>
    This will delete the entire block. Are you sure?<p><a href='#' {{action 'destroyBlock'}}>Confirm Delete</a></p>
  </div>
{{/if}}
{{/if}}

  <div class="ui dividing header">
    Dropdowns
  </div>

    {{#sortable-group tagName="div" onChange="reorderItems" as |group|}}
      {{#each model.dropdowns as |dropdown|}}
        {{#sortable-item tagName="div" model=dropdown group=group handle=".handle"}}
          {{dropdown-block-form model=dropdown clause=model updateLastModified=(action 'updateLastModified')}}
        {{/sortable-item}}
      {{/each}}
    {{/sortable-group}}

    <div class="ui fluid small basic icon vertical animated button" tabindex="0" {{action 'newDropdown'}}>
      <div class="visible content"><i class="plus icon"></i></div>
      <div class="hidden content">Create New Dropdown</div>
    </div>

    {{#ember-wormhole to="destination2"}}
    {{#ui-modal name="dropdown" duration=200 transition='fade down' class="dropdown small" onHidden=(action 'cancelNewDropdown') onApprove=(action 'createNewDropdown')}}
      <i class="close icon"></i>
        <div class="content">
          <div class={{if dropdownErrorMessage "ui error form" "ui form"}}>
            <div class="ui error message">
              <p>{{dropdownErrors.title}}</p>
            </div>
            <div class={{if dropdownErrors.title "field error required" "field required"}}>
              <label>Dropdown Title</label>
              {{one-way-input class="active" value=newMenuTitle maxlength="42" update=(action (mut newMenuTitle))}}
            </div>
            <div class="field">
              <label>Text</label>
              {{one-way-textarea value=newText update=(action (mut newText))}}
            </div>
          </div>
        </div>
        <div class="actions">
        <div class="ui basic small deny button">
          Cancel
        </div>
        <div class="ui teal small approve button">
          Create
        </div>
      </div>
     {{/ui-modal}}
     {{/ember-wormhole}}



</div>
