<div class="ui raised teal segment">
  <h3 class="ui dividing header">
    Block {{model.orderNumber}} <div class="ui sub header">toggle ({{if model.defaultTrue "Default On" "Default Off"}})</div>
  </h3>
  {{#if isEditing}}
    <div class={{if errorMessage "ui error form" "ui form"}}>
      <div class="ui error message">
        <p>{{errors.staticText}}</p>
        <p>{{errors.title}}</p>
      </div>
      <div class={{if errors.staticText "field error required" "field required"}}>
        <label>Menu title</label>
        {{one-way-input value=title update=(action (mut title))}}
      </div>
      <div class="field">
        <label>Help hover text</label>
        {{one-way-input value=helpText update=(action (mut helpText))}}
      </div>
      <div class={{if errors.staticText "field error required" "field required"}}>
        <label>Text</label>
        {{one-way-textarea value=staticText update=(action (mut staticText))}}
      </div>
      <button class="ui mini teal button" {{action 'saveBlock'}}>Save</button>
      <button class="ui mini button" {{action 'cancelEditing'}}>Cancel</button>
    </div>
  {{else}}
    <label class="mylabel">Menu title</label>
    <p>{{model.title}}</p>
    <label class="mylabel">Help hover text</label>
    <p>{{model.helpText}}</p>
    <label class="mylabel">Text</label>
    <p>{{model.staticText}}</p>
    <p class=""><a href='#' {{action 'editBlock'}}>Edit</a> | {{#if model.defaultTrue}}<a href='#' {{action 'defaultOff'}}>Default Off</a>{{else}}<a href='#' {{action 'defaultOn'}}>Default On</a>{{/if}} | <a href='#' {{action 'deleteConfirm'}}>Delete</a></p>
    {{#if deleteMessage}}
      <div class="ui message transition">
        <i class="close icon" {{action 'cancelDelete'}}></i>
        This will delete the entire block. Are you sure?<p><a href='#' {{action 'destroyBlock'}}>Confirm Delete</a></p>
      </div>
    {{/if}}
  {{/if}}
</div>
