<div class="ui raised teal segment">
  <h3 class="ui dividing header">
    Block {{model.orderNumber}} <div class="ui sub header">Checkbox</div>
  </h3>

{{#if isEditing}}
  <div class={{if errorMessage "ui error form" "ui form"}}>
    <div class="ui error message">
      <p>{{errors.title}}</p>
    </div>
    <div class={{if errors.title "field error required" "field required"}}>
      <label>Menu Title </label>
      {{one-way-input class="active" value=title maxlength="42" update=(action (mut title))}}
    </div>
    <div class="field">
      <label>Help hover text </label>
      {{one-way-input value=helpText maxlength="140" update=(action (mut helpText))}}
    </div>
    <button class="ui mini teal button" {{action 'saveBlock'}}>Save</button>
    <button class="ui mini button" {{action 'cancelEditing'}}>Cancel</button>
  </div>
{{else}}
  <label class="mylabel">Menu Title </label>
  <p>{{model.title}}</p>
  <label class="mylabel">Help hover text</label>
  <p>{{model.helpText}}</p>
  <p class=""><a href='#' {{action 'editBlock'}}>Edit</a></p>
{{/if}}

  <h3 class="ui dividing header">Checkboxes</h3>
  <table class="ui striped table">
    <tbody>
      {{#each sortedCheckboxes as |checkbox|}}
        <tr>
          {{#if checkbox.active}}
            <td class="collapsing" {{action 'offCheckbox' checkbox}}>{{ui-checkbox class="slider" checked=checkbox.active}}</td>
            <td>{{checkbox-form model=checkbox rebuildFormText=(action 'rebuildFormText') rebuildMenu=(action 'rebuildMenu')}}</td>
            <td class="right aligned collapsing" {{action 'updateCheckbox' checkbox}}>{{ui-checkbox label="Default" checked=checkbox.defaultTrue}}</td>
          {{else}}
            <td class="collapsing" {{action 'onCheckbox' checkbox}}>{{ui-checkbox class="slider" checked=checkbox.active}}</td>
            <td class="disabled">{{checkbox.menuText}} <p>[Disabled]</p></td>
            <td class="right aligned collapsing disabled" {{action 'updateCheckbox' checkbox}}>{{ui-checkbox class="disabled" label="Default" checked=checkbox.defaultTrue}}</td>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  </table>

  <h3 class="ui dividing header">Checked Combinations &amp; Displayed Text</h3>
  <table class="ui striped table">

    <tbody>
      {{#each sortedCheckboxChoices as |choice|}}
        {{#if choice.active}}
          {{checkbox-choice-form model=choice rebuildText=(action 'rebuildText')}}
        {{/if}}
      {{/each}}
    </tbody>
  </table>


</div>
