<div class="ui raised block segment">
  <h1 class="ui dividing header">
    Block {{model.orderNumber}} <div class="ui sub header">static</div>
  </h1>
  {{#if isEditing}}
    <div class={{if errorMessage "ui error form" "ui form"}}>
      <div class="ui error message">
        <p>{{errors.staticText}}</p>
      </div>
      <div class={{if errors.staticText "field error required" "field required"}}>
        <label>Static Text</label>
        {{one-way-textarea value=staticText update=(action (mut staticText))}}
      </div>
      <button class="ui mini teal button" {{action 'saveBlock'}}>Save</button>
      <button class="ui mini button" {{action 'cancelEditing'}}>Cancel</button>
    </div>
  {{else}}
    <label class="mylabel">Static Text</label>
    <p>{{model.staticText}}</p>
    <p class="">
      <a href='#' {{action 'editBlock'}}>Edit</a> |
      <a href='#' {{action 'deleteConfirm'}}>
        Delete</a>
    </p>
    {{#if deleteMessage}}
      <div class="ui message transition">
        <i class="close icon" {{action 'cancelDelete'}}></i>
        This will delete the entire block. Are you sure?<p><a href='#' {{action 'destroyBlock'}}>Confirm Delete</a></p>
      </div>
    {{/if}}
  {{/if}}
</div>
