<td>
  {{#if model.formText}}
    <div class="ui list">
      {{#each model.formText as |value|}}
        <div class="item"><div class="ui small label">{{value}}</div></div>
      {{/each}}
    </div>
  {{else}}
    No checkboxes selected
  {{/if}}

</td>
<td>
  {{#if isEditing}}
    <div class="ui form">
      <div class="field">
        {{one-way-textarea value=text update=(action (mut text))}}
      </div>
      <button class="ui mini teal button" {{action 'saveCheckboxChoice'}}>Save</button>
      <button class="ui mini button" {{action 'cancelCheckboxChoice'}}>Cancel</button>
    </div>
  {{else}}
    {{model.text}}
    <p><a href='#' {{action 'editCheckboxChoice'}}>Edit</a></p>
  {{/if}}
</td>
