{{#ui-accordion class=(if media.isMobile "large inverted")}}
  {{#each menuArray as |option|}}
    <div {{action "sendActiveBlock" option.blockID on="mouseEnter"}} {{action "sendActiveBlock" "null" on="mouseLeave"}}>
      <div class="title {{if option.openMe "active"}}">
        <i class="dropdown icon"></i>
        {{option.title}}    {{#if option.helpText}}{{ui-popup tagName="i" class="info icon" content=option.helpText}}{{/if}}
      </div>
      <div class="content {{if option.openMe "active"}}">
        {{#if option.dropdown}}
          {{#ui-dropdown class="selection" selected=option.selectedOption}}
            <div class="default text">Choose Option</div>
            <i class="dropdown icon"></i>
            <div class="menu">
            {{#each option.choices as |choice|}}
              <div class="item" data-value=123 {{action 'updateDropdown' choice}}>
                {{choice.menuTitle}}
              </div>
            {{/each}}
            </div>
          {{/ui-dropdown}}
        {{/if}}

        {{#if option.checkbox}}
          {{#each option.choices as |choice|}}
            {{#if media.isMobile}}
              <div class="ui inverted form">
                <div {{action 'updateCheckbox' choice}}>{{ui-checkbox class="large-options" label=choice.menuText checked=choice.selected}}</div>
              </div>
            {{else}}
            <div {{action 'updateCheckbox' choice}}>{{ui-checkbox label=choice.menuText checked=choice.selected}}</div>
            {{/if}}
          {{/each}}
        {{/if}}

        {{#if option.toggle}}
          {{#if media.isMobile}}
            <div class="ui inverted form">
              <div {{action 'updateToggle' option}}>{{ui-checkbox class="large-options" label=option.title checked=option.selected}}</div>
            </div>
          {{else}}
            <div {{action 'updateToggle' option}}>{{ui-checkbox class="slider" label=option.title checked=option.selected}}</div>
          {{/if}}
        {{/if}}

      </div>
    </div>
  {{/each}}
{{/ui-accordion}}
