{{!-- <div class='subnavbar'>
  <div class="ui grid">
    <div class="ui ten wide column">
      <h3 class="subdued">{{model.name}}'s Library</h3>

    </div>
    <div class="ui right aligned six wide column">
      <div class="ui compact secondary icon menu subdued">
        <a class="item subdued">
          <i class="grid layout icon"></i>
        </a>
        <a class="item subdued">
          <i class="list layout icon"></i>
        </a>
        {{#link-to 'library.settings' class="item subdued"}}
          <i class="settings icon"></i>
        {{/link-to}}
        <a class="item subdued" {{action 'toggleOptions'}}>
          <i class="options icon"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="ui tabular menu" id="library-tabs">
    <a class="item active">
      Clauses
    </a>
    <a class="item">
      Templates
    </a>
    <a class="item">
      Checklists
    </a>
    <div class="right menu">
    <div class="ui transparent icon input">
      <i class="search icon"></i>
      {{one-way-input type="text" value=search placeholder="Search Library..." update=(action (mut search))}}
    </div>
  </div>
</div>
{{#if optionsOpen}}
<div class="ui secondary menu" id="library-options">
  <div class="item">
    Sort By:&nbsp;&nbsp;
    {{#ui-dropdown class="inline" selected=sortBy onChange=(action (mut sortBy))}}
      <div class="text">Sort By</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each sortOptions as |sortOption|}}
          <div class="item" data-value="{{sortOption.value}}">
            {{sortOption.title}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </div>
  <div class="item">
    Sort Direction:&nbsp;&nbsp;
    {{#ui-dropdown class="inline" selected=direction onChange=(action (mut direction))}}
      <div class="text">Sort Direction:</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each directionOptions as |option|}}
          <div class="item" data-value="{{option.value}}">
            {{option.title}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </div>
  <div class="item">
    Date Filter:&nbsp;&nbsp;
    {{#ui-dropdown class="inline" selected=dateFilter onChange=(action (mut dateFilter))}}
      <div class="text">Date Filter:</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each dateFilterOptions as |option|}}
          <div class="item" data-value="{{option.value}}">
            {{option.title}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </div>
  <div class="right item">
    Tags:&nbsp;&nbsp;
    {{#ui-dropdown class="fluid multiple selection" selected=country onChange=(action (mut country))}}
      <i class="dropdown icon"></i>
      <div class="default text">Select Country</div>
      <div class="menu">
        {{#each countries as |item|}}
          <div class="item" data-value="{{item.iso2}}">
            <i class="{{item.iso2}} flag"></i>
            {{item.name}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </div>
</div>
{{/if}}

<div class="ui four stackable cards" id={{if optionsOpen "" "library-items"}}>
  {{#each searchedClauses as |clause|}}
    <div class={{if media.isMobile "ui raised block card" "ui raised link block card"}}>
      <div class="content">
        <i class={{if clause.favoriteTrue "right floated active star icon" "right floated star icon"}} {{action 'updateClauseFavorite' clause}}></i>
        {{#link-to "library.fullClause.dashboard" clause class="header"}}
          {{clause.metadata.title}}
        {{/link-to}}
        {{#link-to "library.fullClause.dashboard" clause class="meta"}}
          <p><span class="left floated">Last Updated</span><span class="right floated">{{moment-from-now clause.metadata.lastModified}}</span></p>
        {{/link-to}}
        {{#link-to "library.fullClause.dashboard" clause class="description"}}
          <div class="ui hidden clearing divider"></div>
          <p>{{clause.metadata.subTitle}}</p>
        {{/link-to}}
      </div>
    </div>
  {{/each}}
</div>
<div class="ui mobile reversed stackable grid">
  <div class="thirteen wide column" id="context">

  </div>


  <div class="three wide column">
    <div class="ui secondary pointing menu">
      <a class={{if searchMenu "item active" "item"}} {{action 'openSearchMenu'}}>Sort/Filter</a>
      <a class={{if tagMenu "item active" "item"}} {{action 'openTagMenu'}}>Tags (Personal)</a>
    </div>

    {{#if searchMenu}}
    <form class="ui form">
      {{#if media.isMobile}}
        <div class="ui right floated compact icon menu">
          <a class="item" {{action 'openLibraryOptions'}}>
            <i class="options icon"></i>
          </a>
        </div>
      {{else}}
        <h4 class="ui dividing header">Sort</h4>
        <div class="field">
          {{#ui-dropdown class="ui small floating labeled icon dropdown button" selected=sortBy onChange=(action (mut sortBy))}}
            <div class="default text">Sort By</div>
            <i class="sort icon"></i>
            <div class="menu">
              {{#each sortOptions as |sortOption|}}
                <div class="item" data-value="{{sortOption.value}}">
                  {{sortOption.title}}
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
        </div>
        {{#link-to "library.clauses" (query-params direction="asc") class='ui icon button'}}<i class="sort content ascending icon"></i>{{/link-to}}
        {{#link-to "library.clauses" (query-params direction="desc") class='ui icon button'}}<i class="sort content descending icon"></i>{{/link-to}}
        <h4 class="ui dividing header">Filter</h4>
        <div class="field">
          {{#ui-dropdown class="ui small floating labeled icon dropdown button" selected=dateFilter onChange=(action (mut dateFilter))}}
            <div class="default text">Date Filters</div>
            <i class="calendar icon"></i>
            <div class="menu">
              {{#each dateFilterOptions as |option|}}
                <div class="item" data-value="{{option.value}}">
                  {{option.title}}
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
        </div>
        <div class="field">
          {{ui-checkbox label="My Favorites" checked=favoriteFilter onChange=(action (mut favoriteFilter))}}
        </div>
        <h4 class="ui dividing header">Create</h4>
        <div class="ui small yellow button" {{action 'openClauseModal'}}>
          New Clause
        </div>
      {{/if}}

    </form>
    {{else}}
      <div class="ui vertical menu">
        <a class="item active">Boilerplate<div class="ui teal label">23</div></a>
        <a class="item">IP</a>
        <a class="item">Stuff</a>
      </div>
    {{/if}}
  </div>

</div>


{{#ember-wormhole to="destination"}}
{{#ui-modal name="clause" duration=200 transition='fade down' autofocus=false class="clause small" onHidden=(action 'cancelNewClause') onApprove=(action 'createClause')}}
  <i class="close icon"></i>
    <div class="content">
      <h3 class="ui dividing header">
        <div class="ui sub header">new clause</div>
      </h3>
      <div class={{if errorMessage "ui error form" "ui form"}}>
        <div class="ui error message">
          <p>{{errors.title}}</p>
          <p>{{errors.subTitle}}</p>
        </div>
        <div class={{if errors.title "field error required" "field required"}}>
          <label>Clause title</label>
          {{one-way-input value=title placeholder="Title for use within ClauseHub" update=(action (mut title))}}
        </div>
        <div class={{if errors.subTitle "field error required" "field required"}}>
          <label>Sub-title</label>
          {{one-way-input value=subTitle placeholder="Short description of clause" update=(action (mut subTitle))}}
        </div>
        <div class="field">
          <label>Heading</label>
          {{one-way-input value=heading placeholder="Header for use in clause" update=(action (mut heading))}}
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui deny button">
        Cancel
      </div>
      <div class="ui yellow approve button">
        Create
      </div>
    </div>
  {{/ui-modal}}
  {{/ember-wormhole}}

  {{#ember-wormhole to="destination"}}
    {{#ui-modal name="mobilelibrary" duration=200 autofocus=false class="mobilelibrary basic"}}
      <i class="close icon"></i>
      <div class="header">Sort By:</div>
      <div class="content">
        {{#ui-dropdown class="ui large labeled icon dropdown button" selected=sortBy onChange=(action (mut sortBy))}}
          <div class="default text">Sort By</div>
          <i class="sort icon"></i>
          <div class="menu">
            {{#each sortOptions as |sortOption|}}
              <div class="item" data-value="{{sortOption.value}}">
                {{sortOption.title}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
        {{#link-to "library" (query-params direction="asc") class='ui large icon button'}}<i class="sort content ascending icon"></i>{{/link-to}}
        {{#link-to "library" (query-params direction="desc") class='ui large icon button'}}<i class="sort content descending icon"></i>{{/link-to}}
      </div>
      <div class="header">Filters:</div>
      <div class="content">
        {{#ui-dropdown class="ui large labeled icon dropdown button" selected=dateFilter onChange=(action (mut dateFilter))}}
          <div class="default text">Date Filters</div>
          <i class="calendar icon"></i>
          <div class="menu">
            {{#each dateFilterOptions as |option|}}
              <div class="item" data-value="{{option.value}}">
                {{option.title}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      </div>
      <div class="header">Favorites:</div>
      <div class="content">
        <div class="ui inverted form">
          {{ui-checkbox label="My Favorites" class="large" checked=favoriteFilter onChange=(action (mut favoriteFilter))}}
        </div>
      </div>
    {{/ui-modal}}
  {{/ember-wormhole}} --}}
