<div class="ui divided grid">
  <div class="ten wide column">
    <div class="ui four cards">
      {{#each model.blocks as |block|}}
        {{#link-to 'library.fullClause.block' block class="ui card"}}
          <div class="content">
            <div class="header">Block: {{block.orderNumber}}</div>
            <div class="meta">
              <span class="category">{{block.type}}</span>
            </div>
            <div class="description">
              <p></p>
            </div>
          </div>
        {{/link-to}}
      {{/each}}
    </div>
    {{outlet}}
  </div>
  <div class="six wide column">
    <h2>{{model.name}}</h2>
    {{clause-text model=model rebuildText=rebuildText}}
    <div class="ui divider"></div>
    {{clause-menu rebuildMenu=rebuildMenu rebuildText=rebuildText model=model}}
  </div>
</div>
