
<div class="ui stackable grid">
  <div class="ui twelve wide column">
    <h2 class="ui header">{{model.metadata.title}}<div class="sub header">{{model.metadata.subTitle}}</div></h2>
  </div>
  {{#unless media.isMobile}}
    <div class="ui right aligned four wide column">
      <a href="#" {{action 'goback'}}><span class="back-link"><i class="angle double left icon"></i>Back</span></a>
    </div>
  {{/unless}}
</div>
{{#if user.currentUser.admin}}
  <div class="ui four item block menu clause-menu">
    {{#link-to 'library.fullClause.dashboard' class="item"}}Clause{{/link-to}}
    {{#link-to 'library.fullClause.readme' class="item"}}README{{/link-to}}
    <a href="#" class="item" {{action 'gotoCurrentBlock'}}>Editor</a>
    {{#link-to 'library.fullClause.sharing' class="item"}}Settings{{/link-to}}
  </div>
{{else if userCanWrite}}
  <div class={{if media.isMobile "ui two item block menu" "ui three item block menu clause-menu"}}>
    {{#link-to 'library.fullClause.dashboard' class="item"}}Clause{{/link-to}}
    {{#link-to 'library.fullClause.readme' class="item"}}README{{/link-to}}
    {{#unless media.isMobile}}<a href="#" class="item" {{action 'gotoCurrentBlock'}}>Editor</a>{{/unless}}
  </div>
{{else if userAdmin}}
  <div class={{if media.isMobile "ui three item block menu clause-menu" "ui four item block menu clause-menu"}}>
    {{#link-to 'library.fullClause.dashboard' class="item"}}Clause{{/link-to}}
    {{#link-to 'library.fullClause.readme' class="item"}}README{{/link-to}}
    {{#unless media.isMobile}}<a href="#" class="item" {{action 'gotoCurrentBlock'}}>Editor</a>{{/unless}}
    {{#link-to 'library.fullClause.sharing' class="item"}}Settings{{/link-to}}
  </div>
{{else}}
  <div class="ui two item block menu clause-menu">
    {{#link-to 'library.fullClause.dashboard' class="item"}}Clause{{/link-to}}
    {{#link-to 'library.fullClause.readme' class="item"}}README{{/link-to}}
  </div>
{{/if}}
{{outlet}}
