

<div class="ui relaxed stackable grid">
  <div class="ten wide column">
    {{outlet}}
  </div>
  <div class="six wide column">
    {{!-- {{#if blocksActive}} --}}
      {{!-- <div class="ui tabular menu">
        <a class="item active">Blocks</a>
        <a class="item" {{action "toggleBlockTab"}}>Preview</a>
      </div> --}}
      {{#sortable-group tagName="div" onChange="reorderItems" as |group|}}
        {{#each sortedBlocks as |block|}}
          {{#sortable-item tagName="div" model=block group=group handle=".handle"}}
            {{#if block.paragraph}}
              {{#link-to 'library.fullClause.builder.block' block tagName="div" class="ui paragraph block link fluid card" invokeAction=(action 'updateCurrentBlock' block)}}
              <div class="content">
                <div class="meta">
                  <i class="paragraph icon"></i>
                  {{#if block.staticText}}
                    <em>Header: {{block.staticText}}</em>
                  {{/if}}
                  <i class="resize vertical icon ui right floated handle"></i>
                </div>

                {{!-- <div class="ui grid">
                  <div class="ui two wide column">
                    <h3><i class="paragraph icon"></i></h3>
                  </div>
                  <div class="ui fourteen wide column">
                    {{#if block.staticText}}
                      <em>Header: {{block.staticText}}</em>
                    {{else}}
                      <em>No header</em>
                    {{/if}}
                  </div>
                </div> --}}
              </div>
                {{!-- <div class="content">
                  <div class="meta">Block {{block.orderNumber}} ({{block.type}}) <i class="resize vertical icon ui right floated handle"></i></div>
                  <div class="description">
                    {{#if block.defaultText}}
                      {{block.defaultText}}
                    {{else}}
                      <i>No defaulted text.</i>
                    {{/if}}
                  </div>
                </div> --}}
              {{/link-to}}
            {{else}}
              {{#link-to 'library.fullClause.builder.block' block tagName="div" class="ui block link fluid card" invokeAction=(action 'updateCurrentBlock' block)}}
                <div class="content">
                  <div class="meta">Block {{block.orderNumber}} ({{block.type}}) <i class="resize vertical icon ui right floated handle"></i></div>
                  <div class="description">
                    {{#if block.defaultText}}
                      {{block.defaultText}}
                    {{else}}
                      <i>No defaulted text.</i>
                    {{/if}}
                  </div>
                </div>
              {{/link-to}}
            {{/if}}

          {{/sortable-item}}
        {{/each}}
      {{/sortable-group}}
      <div class="ui grid">
        <div class="ui eleven wide column">
          <div class="ui fluid basic icon vertical animated button" tabindex="0" {{action 'newBlock'}}>
            <div class="visible content"><i class="plus icon"></i></div>
            <div class="hidden content">Create New Block</div>
          </div>
        </div>
        <div class="ui five wide column">
          <div class="ui fluid small basic icon vertical animated button" tabindex="0" {{action 'createParagraphBlock'}}>
            <div class="visible content"><i class="paragraph icon"></i></div>
            <div class="hidden content">New <i class="paragraph icon"></i></div>
          </div>
        </div>
      </div>

      {{#ember-wormhole to="destination"}}
      {{#ui-modal name="block" duration=200 transition='fade down' autofocus=false class="block small" onHidden=(action 'cancelNewBlock') onApprove=(action 'createBlock')}}
        <i class="close icon"></i>
        {{#if newBlockMenu}}
          <div class="content">
            <p autofocus>Choose Block Type</p>
            <p><button class="fluid ui teal button" {{action 'openNewStatic'}}>Static Block</button></p>
            <p><button class="fluid ui teal button" {{action 'openNewToggle'}}>Toggle Block</button></p>
            <p><button class="fluid ui teal button" {{action 'openNewDropdown'}}>Dropdown Block</button></p>
            <p><button class="fluid ui teal button" {{action 'openNewCheckbox'}}>Checkblock Block</button></p>
          </div>
        {{else if newBlockStatic}}
          <div class="content">
            <h3 class="ui dividing header">
              <div class="ui sub header">new static block</div>
            </h3>
            <div class={{if errorMessage "ui error form" "ui form"}}>
              <div class="ui error message">
                <p>{{errors.staticText}}</p>
              </div>
              <div class={{if errors.staticText "field error required" "field required"}}>
                <label>Static Text</label>
                {{one-way-textarea value=staticText update=(action (mut staticText))}}
              </div>
            </div>
          </div>
          <div class="actions">
            <div class="ui deny button">
              Cancel
            </div>
            <div class="ui teal approve button">
              Create
            </div>
          </div>
        {{else if newBlockToggle}}
          <div class="content">
            <h3 class="ui dividing header">
              <div class="ui sub header">new toggle block</div>
            </h3>
            <div class={{if errorMessage "ui error form" "ui form"}}>
              <div class="ui error message">
                <p>{{errors.staticText}}</p>
                <p>{{errors.title}}</p>
              </div>
              <div class={{if errors.title "field error required" "field required"}}>
                <label>Menu title</label>
                {{one-way-input value=title update=(action (mut title))}}
              </div>
              <div class="field">
                <label>Help hover text</label>
                {{one-way-input value=helpText update=(action (mut helpText))}}
              </div>
              <div class={{if errors.staticText "field error required" "field required"}}>
                <label>Toggle Text</label>
                {{one-way-textarea value=staticText update=(action (mut staticText))}}
              </div>
            </div>
          </div>
          <div class="actions">
            <div class="ui deny button">
              Cancel
            </div>
            <div class="ui teal approve button">
              Create
            </div>
          </div>
        {{else if newBlockCheckbox}}
          <div class="content">
            <h3 class="ui dividing header">
              <div class="ui sub header">new checkbox block</div>
            </h3>
            <div class={{if errorMessage "ui error form" "ui form"}}>
              <div class="ui error message">
                <p>{{errors.title}}</p>
              </div>
              <div class={{if errors.title "field error required" "field required"}}>
                <label>Menu title</label>
                {{one-way-input value=title update=(action (mut title))}}
              </div>
              <div class="field">
                <label>Help hover text</label>
                {{one-way-input value=helpText update=(action (mut helpText))}}
              </div>
            </div>
          </div>
          <div class="actions">
            <div class="ui deny button">
              Cancel
            </div>
            <div class="ui teal approve button">
              Create
            </div>
          </div>
          {{else if newBlockDropdown}}
            <div class="content">
              <h3 class="ui dividing header">
                <div class="ui sub header">new dropdown block</div>
              </h3>
              <div class={{if errorMessage "ui error form" "ui form"}}>
                <div class="ui error message">
                  <p>{{errors.title}}</p>
                </div>
                <div class={{if errors.title "field error required" "field required"}}>
                  <label>Menu title</label>
                  {{one-way-input value=title update=(action (mut title))}}
                </div>
                <div class="field">
                  <label>Help hover text</label>
                  {{one-way-input value=helpText update=(action (mut helpText))}}
                </div>
              </div>
            </div>
            <div class="actions">
              <div class="ui deny button">
                Cancel
              </div>
              <div class="ui teal approve button">
                Create
              </div>
            </div>
        {{/if}}
      {{/ui-modal}}
      {{/ember-wormhole}}

    {{!-- {{else}}
    <div class="ui tabular menu">
      <a class="item" {{action "toggleBlockTab"}}>Blocks</a>
      <a class="item active">Preview</a>
    </div>
    <h4 class="ui sub header spaced">Clause Options</h4>
    {{clause-menu rebuildMenu=rebuildMenu rebuildText=rebuildText model=model}}
    <h4 class="ui sub header spaced">Clause Text</h4>
    <p>{{clause-text model=model rebuildText=rebuildText}}</p>
  {{/if}} --}}
  </div>
</div>
