<div class="ui relaxed stackable grid">
  <div class="two wide column">
    <div class={{if media.isMobile "ui left floated compact icon menu" "ui right floated compact vertical icon menu"}}>
      <a class="item" {{action 'dashboardClauseSmall'}}>
        <i class="font icon small"></i>
      </a>
      <a class="item" {{action 'dashboardClauseBig'}}>
        <i class="font icon"></i>
      </a>
      <a class="item">
        {{#copy-button
          clipboardTarget= '#copyText'
          success='success'
          error='error'
          tagName='div'
        }}
        <i class="copy icon"></i>{{/copy-button}}
      </a>
    </div>

    {{#if media.isMobile}}
      <div class="ui right floated compact icon menu">
        <a class="item" {{action 'openMobileOptions'}}>
          <i class="options icon"></i>
        </a>
      </div>
    {{/if}}
  </div>
      <div class="eight wide column">
        <div class="ui raised block segment">
          {{#if model.blocks}}
            <div class={{dashboardClause}}>{{clause-text id='copyText' model=model rebuildText=rebuildText activeBlock=activeBlock copyText=copyText}}</div>
          {{else}}
            <em>Nothing to see here</em>
          {{/if}}
        </div>
      </div>
      <div class="six wide column">
        {{#unless media.isMobile}}
          <h5 class="ui horizontal divider header"><i class="options icon"></i>Options</h5>
          {{clause-menu rebuildMenu=rebuildMenu rebuildText=rebuildText model=model activeBlock=activeBlock}}
        {{/unless}}
      </div>
    </div>

    {{#ember-wormhole to="destination"}}
      {{#ui-modal name="mobileoptions" duration=200 autofocus=false class="mobileoptions basic"}}
        <i class="close icon"></i>
        <div class="header">Clause Options</div>
        <div class="content">
          {{clause-menu rebuildMenu=rebuildMenu rebuildText=rebuildText model=model activeBlock=activeBlock}}
        </div>
      {{/ui-modal}}
    {{/ember-wormhole}}

{{outlet}}
