<div class="ui stackable relaxed grid">
  <div class="eight wide column">
    <div class="ui raised block segment">
      <h1 class="ui dividing header">Metadata</h1>
      {{#if isEditing}}
        <div class={{if errorMessage "ui error form" "ui form"}}>
          <div class="ui error message">
            <p>{{errors.title}}</p>
            <p>{{errors.subtitle}}</p>
          </div>
          <div class={{if errors.title "field error required" "field required"}}>
            <label>Clause Title</label>
            {{one-way-input value=titleText maxlength=45 update=(action (mut titleText))}}
          </div>
          <div class={{if errors.subtitle "field error required" "field required"}}>
            <label>Clause Subtitle</label>
            {{one-way-input value=subtitleText maxlength=100 update=(action (mut subtitleText))}}
          </div>
          <div class="field">
            <label>Clause Header</label>
            {{one-way-input value=headerText update=(action (mut headerText))}}
          </div>
          <button class="ui mini teal button"{{action 'saveMetadata'}}>Save</button>
          <button class="ui mini button" {{action 'closeEdit'}}>Cancel</button>
        </div>
      {{else}}
        <strong>Clause Title</strong>
        <p>{{model.metadata.title}}</p>
        <strong>Clause Subtitle</strong>
        <p>{{model.metadata.subTitle}}</p>
        <strong>Clause Header</strong>
        <p>{{model.metadata.header}}</p>
        <p class="">
          <a href='#' {{action 'openEdit'}}>Edit</a>
        </p>
      {{/if}}
    </div>
    <div class="ui hidden divider"></div>
    <div class={{if media.isMobile "ui raised block segment"}}>
      <button class="negative ui basic mini button" {{action 'confirmDelete'}}>Delete Clause</button>
      {{#if confirmDelete}}
      <div class="ui message">
        <i class="close icon" {{action 'cancelDelete'}}></i>
        <div class="header">
          <i class="warning sign icon"></i>
          Action cannot be undone.
        </div>
        Are you sure you want to delete the clause? <a href="#" {{action 'destroyClause'}}>Delete Clause</a>
      </div>
      {{/if}}
    </div>
  </div>

  <div class="eight wide column">
    <div class="ui segment">
      <h3 class="ui dividing header">Ownership</h3>
      {{#ui-popup tagName="div" class="ui right corner label" content="Each clause can have either a user owner or a group owner. The clause is stored in the owner's library, and the owner has full permissions, including the rights to change ownership and delete the clause."}}<i class="info icon"></i>{{/ui-popup}}
      <p>This clause belongs to <strong>{{model.library.name}}</strong>.</p>
      <div class="ui horizontal divided list">
        <div class="item">
          <a href="#" {{action 'openTransferOwnership'}}>Transfer Ownership</a>
        </div>
        <div class="item">
          <a href="#">Delete Clause</a>
        </div>
      </div>
    </div>
  </div>
</div>

{{#ember-wormhole to="destination"}}
{{#ui-modal name="transfer-owner" duration=200 transition='fade down' autofocus=false class="transfer-owner small" onHidden=(action 'cancelTransfer')}}
  <i class="close icon"></i>
  <div class="header">Transfer Ownership</div>
  <div class="content">
    <form class="ui form">
      <div class="field">
        <label>Select New Owner</label>
        {{#click-outside action=(action "closeSearch")}}
        <div class="ui right labeled input">
          {{one-way-input value=searchTerm placeholder="Search.." update=(action (mut searchTerm))}}
        </div>
        {{#if searchTermNotEmpty}}
          <div class="ui vertical menu search-results">
            {{#if matchingLibraries}}
              {{#each matchingLibraries as |library|}}
              <a class="item" {{action 'selectTransferLibrary' library}}>
                {{library.name}}
              </a>
              {{/each}}
            {{else}}
              <div class="item"><i class="frown icon"></i> <i>No results</i> </div>
            {{/if}}
          </div>
        {{/if}}
        {{/click-outside}}
      </div>
      <p>Transfer ownership to: <strong>{{newlib.name}}</strong></p>
    </form>
  </div>
  <div class="actions">
    {{#if model.ownerUser}}<div class={{if activateTransferButton "ui teal button" "ui disabled teal approve button"}} {{action 'transferLibrary'}}>Transfer</div>{{/if}}
    {{#if model.ownerGroup}}<div class={{if activateTransferButton "ui teal button" "ui disabled teal approve button"}} {{action 'transferOwnershipGroup'}}>Transfer</div>{{/if}}
  </div>
{{/ui-modal}}
{{/ember-wormhole}}
