<div class="ui stackable relaxed grid">
  <div class="eight wide column">
    <div class="ui raised block segment">
      <h1 class="ui dividing header">Metadata</h1>
      {{#if isEditing}}
        <div class={{if errorMessage "ui error form" "ui form"}}>
          <div class="ui error message">
            <p>{{errors.title}}</p>
            <p>{{errors.subtitle}}</p>
          </div>
          <div class={{if errors.title "field error required" "field required"}}>
            <label>Clause Title</label>
            {{one-way-input value=titleText update=(action (mut titleText))}}
          </div>
          <div class={{if errors.subtitle "field error required" "field required"}}>
            <label>Clause Subtitle</label>
            {{one-way-input value=subtitleText update=(action (mut subtitleText))}}
          </div>
          <div class="field">
            <label>Clause Header</label>
            {{one-way-input value=headerText update=(action (mut headerText))}}
          </div>
          <button class="ui mini teal button"{{action 'saveMetadata'}}>Save</button>
          <button class="ui mini button" {{action 'closeEdit'}}>Cancel</button>
        </div>
      {{else}}
        <strong>Clause Title</strong>
        <p>{{model.clause.metadata.title}}</p>
        <strong>Clause Subtitle</strong>
        <p>{{model.clause.metadata.subTitle}}</p>
        <strong>Clause Header</strong>
        <p>{{model.clause.metadata.header}}</p>
        <p class="">
          <a href='#' {{action 'openEdit'}}>Edit</a>
        </p>
      {{/if}}
    </div>
    <div class="ui hidden divider"></div>
    <div class={{if media.isMobile "ui raised block segment"}}>
      <button class="negative ui basic mini button" {{action 'confirmDelete'}}>Delete Clause</button>
      {{#if confirmDelete}}
      <div class="ui message">
        <i class="close icon" {{action 'cancelDelete'}}></i>
        <div class="header">
          <i class="warning sign icon"></i>
          Action cannot be undone.
        </div>
        Are you sure you want to delete the clause? <a href="#" {{action 'destroyClause'}}>Delete Clause</a>
      </div>
      {{/if}}
    </div>
  </div>

  <div class="eight wide column">
    <div class={{if media.isMobile "ui raised block segment"}}>
      {{#if media.isMobile}}<h1 class="ui dividing header">Sharing</h1>{{else}}
      <h5 class="ui horizontal divider header"><i class="share alternate icon"></i>Sharing</h5>{{/if}}
      {{#click-outside action=(action "closeSearch")}}
      <div class="ui right labeled input">
        {{#if searchPeople}}
        {{one-way-input value=searchTermPeople placeholder="Search.." update=(action (mut searchTermPeople))}}
        {{else}}
        {{one-way-input value=searchTermGroup placeholder="Search.." update=(action (mut searchTermGroup))}}
        {{/if}}
        {{#ui-dropdown class="label" tagName="div" selected=selectedSearchOption onChange=(action (mut selectedSearchOption))}}
           <div class="text">People</div>
           <i class="dropdown icon"></i>
           <div class="menu">
             {{#each searchOptions as |option|}}
             <div class="item">{{option}}</div>
             {{/each}}
           </div>
         {{/ui-dropdown}}
      </div>
      {{#if searchTermPeopleNotEmpty}}
        <div class="ui vertical menu search-results">
          {{#if matchingNoCurrentUsers}}
            <div class="header item">PEOPLE</div>
            {{#each matchingNoCurrentUsers as |user|}}
            <a class="item" {{action 'addUser' user}}>
              {{user.fullName}}
            </a>
            {{/each}}
          {{else}}
            <div class="item"><i class="frown icon"></i> <i>No results</i> </div>
          {{/if}}
        </div>
      {{/if}}
      {{#if searchTermGroupNotEmpty}}
        <div class="ui vertical menu search-results">
          {{#if matchingGroups}}
            <div class="header item">GROUPS</div>
            {{#each matchingGroups as |group|}}
            <a class="item" {{action 'addGroup' group}}>
              {{group.name}}
            </a>
            {{/each}}
          {{else}}
            <div class="item"><i class="frown icon"></i> <i>No results</i> </div>
          {{/if}}
        </div>
      {{/if}}
      {{/click-outside}}

      <div class="ui segments">
        <div class={{if readOverTarget "ui secondary segment" "ui segment"}}>
          {{#draggable-object-target action="setCanRead" dragOverAction='readOverAction' dragOutAction='readDragOutAction'}}
            <p>Read Only</p>
            {{#each combinedReader as |reader|}}
              {{#draggable-object content=reader class=(if reader.user "ui label can-drag" "ui teal label can-drag")}}
                {{#if reader.user}}
                  <i class="user icon"></i>
                {{else}}
                  <i class="users icon"></i>
                {{/if}}
                {{reader.name}}
                <i class="delete icon" {{action 'removeCanRead' reader}}></i>
              {{/draggable-object}}
            {{/each}}
          {{/draggable-object-target}}
        </div>
        <div class={{if writeOverTarget "ui secondary segment" "ui segment"}}>
          {{#draggable-object-target action="setCanWrite" dragOverAction='writeOverAction' dragOutAction='writeDragOutAction'}}
          <p>Editors</p>
          {{#each combinedEditors as |editor|}}
            {{#draggable-object content=editor class=(if editor.user "ui label can-drag" "ui teal label can-drag")}}
              {{#if editor.user}}
                <i class="user icon"></i>
              {{else}}
                <i class="users icon"></i>
              {{/if}}
              {{editor.name}}
              <i class="delete icon" {{action 'removeCanWriteUser' user}}></i>
            {{/draggable-object}}
          {{/each}}
          {{/draggable-object-target}}
        </div>
        <div class={{if adminOverTarget "ui secondary segment" "ui segment"}}>
          {{#draggable-object-target action="setAdmin" dragOverAction='adminOverAction' dragOutAction='adminDragOutAction'}}
            <p>Owners</p>
            {{#each combinedAdmins as |admin|}}
              {{#if onlyOneAdmin}}
                <div class="ui disabled image label" >
                  {{#if admin.user}}
                    <i class="user icon"></i>
                  {{else}}
                    <i class="users icon"></i>
                  {{/if}}
                  {{admin.name}}
                </div>
              {{else}}
                {{#draggable-object content=admin class=(if admin.user "ui label can-drag" "ui teal label can-drag")}}
                  {{#if admin.user}}
                    <i class="user icon"></i>
                  {{else}}
                    <i class="users icon"></i>
                  {{/if}}
                  {{admin.name}}
                  <i class="delete icon" {{action 'removeAdmin' admin}}></i>
                {{/draggable-object}}
              {{/if}}
            {{/each}}
          {{/draggable-object-target}}
        </div>
      </div>

      {{!-- <table class={{unless media.isMobile "ui very basic collapsing celled table" "ui striped celled table"}}>
        {{#unless media.isMobile }}<thead>
          <tr><th>User</th>
          <th>Can Read</th>
          <th>Can Edit</th>
          <th>Admin</th>
        </tr></thead>{{/unless}}
        <tbody>
          {{#each filteredCombinedUsers as |user|}}
            <tr>
              <td>
                <h4 class="ui image header">
                  {{ember-initials name=user.fullName class="ui mini rounded image" size=50}}
                  <div class="content">
                    {{user.fullName}}
                    <div class="sub header">{{if user.company user.company user.fullName}}</div>
                  </div>
                </h4>
              </td>
              <td>
                {{ui-checkbox class=(if user.singleAdmin "disabled") label=(if media.isMobile "Can Read") checked=user.canRead onUnchecked=(action 'removeCanReadUser' user)}}
              </td>
              <td>
                {{ui-checkbox class=(if user.singleAdmin "disabled") label=(if media.isMobile "Can Write") checked=user.canWrite onChecked=(action 'setCanWriteUser' user) onUnchecked=(action 'setCanReadUser' user)}}
              </td>
              <td>
                {{ui-checkbox class=(if user.singleAdmin "disabled") label=(if media.isMobile "Admin") checked=user.admin onChecked=(action 'setAdminUser' user) onUnchecked=(action 'setCanWriteUser' user)}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table> --}}
    </div>
  </div>
</div>
