
<div id="destination"></div>

  <div class="ui teal inverted top menu">
    <div class="ui container">
    <div class="header item">
      ClauseHub
    </div>
    {{#link-to 'library' class='item'}}Library{{/link-to}}
    {{#if session.isAuthenticated}}
      <div class="ui right item" {{action 'signOut'}}>Sign-Out</div>
    {{else if session.isWorking}}
      <div class="ui right item"><i>Signing In</i></div>
    {{else}}
      <div class="ui right item" {{action 'openSignIn'}}>Sign-In</div>
    {{/if}}

  </div>

  </div>
  <div class="ui container">
  {{outlet}}
</div>

{{#ui-modal name="sign-in" autofocus=false class="sign-in small" onApprove=(action 'signInUp' 'password')}}
  <i class="close icon"></i>
  {{#if signInModal}}
    <div class="content">
      <form class="ui form">
        <div class="field">
          <label>Email</label>
          {{one-way-input value=email placeholder="Email" update=(action (mut email))}}
        </div>
        <div class="field">
          <label>Password</label>
          {{one-way-input value=password type="password" placeholder="Password" update=(action (mut password))}}
        </div>
      </form>
      Don't have an account? <a href="#" {{action 'changeToSignUp'}}>Sign-up here!</a>
    </div>
    <div class="actions">
      <div class="ui deny button">
        Cancel
      </div>
      <div class="ui teal approve button">
        Sign-In
      </div>
    </div>
  {{else}}
    <div class="content">
      <form class="ui form">
        <div class="two fields">
          <div class="field">
            <label>First Name</label>
            {{one-way-input value=firstName placeholder="First Name" update=(action (mut email))}}
          </div>
          <div class="field">
            <label>Last Name</label>
            {{one-way-input value=lastName placeholder="Last Name" update=(action (mut email))}}
          </div>
        </div>
        <div class="field">
          <label>Email</label>
          {{one-way-input value=email placeholder="Email" update=(action (mut email))}}
        </div>
        <div class="two fields">
          <div class="field">
            <label>Password</label>
            {{one-way-input value=password type="password" placeholder="Password" update=(action (mut password))}}
          </div>
          <div class="field">
            <label>Re-Type Password</label>
            {{one-way-input value=passwordCheck type="password" placeholder="Re-Type Password" update=(action (mut passwordCheck))}}
          </div>
        </div>
      </form>
    </div>
    <div class="actions">
      <div class="ui deny button">
        Cancel
      </div>
      <div class="ui teal approve button">
        Sign-Up!
      </div>
    </div>
  {{/if}}
{{/ui-modal}}
