<div id="destination"></div>

  <div class={{if media.isMobile "ui teal large inverted top menu" "ui teal inverted top menu"}}>
    <div class="ui container">
    <div class="header item">
      {{#link-to 'library'}}Clausium{{/link-to}}
    </div>
    {{#link-to 'library.clauses' class='item'}}Totum{{/link-to}}
    {{#ui-dropdown class="browse item" tagName="a"}}
      Libraries
      <i class="dropdown icon"></i>
      <div class="menu">

        {{#link-to 'library.clauses' currentUser.personalLibrary class='item'}}<i class="user icon"></i>Personal{{/link-to}}
        <div class="divider"></div>
        <div class="header">Shared</div>
        {{#each currentUser.groupsMember as |group|}}
          {{#link-to 'group-library' group class='item fluid'}}<i class="share alternate icon"></i>{{group.name}}{{/link-to}}
        {{/each}}
        <div class="divider"></div>
        {{#link-to 'groups' class='item'}}<i class="settings icon"></i>New Library{{/link-to}}
      </div>

    {{/ui-dropdown}}

    <div class="right menu">
      {{#if session.isAuthenticated}}
        {{#if media.isMobile}}
          <a class="item" {{action 'openMobileMenu'}}>
            <i class="content icon"></i>
          </a>
          {{#ui-modal name="mobilemenu" duration=200 autofocus=false class="mobilemenu basic"}}
            <i class="dark close icon"></i>
            <div class="ui basic center aligned segment">
              <div class="ui relaxed massive list">
                {{#link-to 'library' class='item'}}Library{{/link-to}}
                {{#link-to 'profile' class='item'}}Account Settings{{/link-to}}
                <a class="item" href="#" {{action 'signOut'}}>Logout</a>
              </div>
            </div>
          {{/ui-modal}}
        {{else}}
          {{#ui-dropdown class="browse item" tagName="a"}}
            Hello {{currentUser.firstName}}
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#link-to 'profile' class='item'}}<i class="settings icon"></i>Account{{/link-to}}
              <div class="item" {{action 'signOut'}}><i class="hand peace icon"></i>Logout</div>
            </div>
          {{/ui-dropdown}}
        {{/if}}

      {{else if session.isWorking}}
        <div class="ui item"><i>Signing In</i></div>
      {{/if}}
      {{#if currentUser.admin}}
        {{#ui-dropdown class="browse item" tagName="a"}}
          Admin
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#link-to 'admin.users' class='item'}}Users{{/link-to}}
            {{#link-to 'admin.clauses' class='item'}}Clauses{{/link-to}}
          </div>
        {{/ui-dropdown}}
      {{/if}}
    </div>


  </div>

  </div>
  <div class="ui container">
  {{outlet}}
</div>


{{#ui-modal name="sign-in" autofocus=false class="sign-in small" onHidden=(action 'onHidden') onApprove=(action 'signInUp' 'password')}}
  <i class="close icon"></i>
  {{#if signInModal}}
  <div class="header">Hello again!</div>
    <div class="content">
      <form class={{if errorMessage "ui error form" "ui form"}}>
        <div class="ui error message">
          <p>{{errors.email}}</p>
          <p>{{errors.password}}</p>
          <p>{{errors.server}}</p>
        </div>
        <div class={{if errors.email "field error required" "field required"}}>
          <label>Email</label>
          {{one-way-input value=email placeholder="Email" update=(action (mut email))}}
        </div>
        <div class={{if errors.password "field error required" "field required"}}>
          <label>Password</label>
          {{one-way-input value=password type="password" placeholder="Password" update=(action (mut password))}}
        </div>
        <p>Don't have an account? <a href="#" {{action 'changeToSignUp'}}>Sign-up here!</a></p>

      </form>
    </div>
    <div class="actions">
      <div class="ui deny button">
        Cancel
      </div>
      {{#if session.isWorking}}
      <div class="ui teal approve loading button">
        Sign-In
      </div>
      {{else}}
        <div class="ui teal approve button">
          Sign-In
        </div>
      {{/if}}
    </div>
  {{else}}
    <div class="header">Welcome! Let's get you started.</div>
    <div class="content">
      <form class={{if errorMessage "ui error form" "ui form"}}>
        <div class="ui error message">
          <p>{{errors.firstName}}</p>
          <p>{{errors.lastName}}</p>
          <p>{{errors.email}}</p>
          <p>{{errors.passwordMatch}}</p>
          <p>{{errors.password}}</p>
          <p>{{errors.server}}</p>
        </div>
        <div class="two fields">
          <div class={{if errors.firstName "field error required" "field required"}}>
            <label>First Name</label>
            {{one-way-input value=firstName placeholder="First Name" update=(action (mut firstName))}}
          </div>
          <div class={{if errors.lastName "field error required" "field required"}}>
            <label>Last Name</label>
            {{one-way-input value=lastName placeholder="Last Name" update=(action (mut lastName))}}
          </div>
        </div>
        <div class={{if errors.email "field error required" "field required"}}>
          <label>Email</label>
          {{one-way-input value=email placeholder="Email" update=(action (mut email))}}
        </div>
        <div class="two fields">
          <div class={{if errors.password "field error required" "field required"}}>
            <label>Password</label>
            {{one-way-input value=password type="password" placeholder="Password" update=(action (mut password))}}
          </div>
          <div class={{if errors.passwordMatch "field error required" "field required"}}>
            <label>Re-Type Password</label>
            {{one-way-input value=passwordCheck type="password" placeholder="Re-Type Password" update=(action (mut passwordCheck))}}
          </div>
        </div>
        <p><a href="#" {{action 'changeToSignIn'}}>I already have account</a></p>
      </form>
    </div>
    <div class="actions">
      <div class="ui deny button">
        Cancel
      </div>
      {{#if signingUpWorking}}
      <div class="ui yellow approve loading button">
        Sign-Up
      </div>
      {{else}}
        <div class="ui yellow approve button">
          Sign-Up
        </div>
      {{/if}}
    </div>
  {{/if}}
{{/ui-modal}}
{{log session.currentUser.uid}}
