
{{!-- {{#liquid-if librarySidenavActive class="librarynav-liquid" }} --}}
<a href="#" {{action 'toggleLibSidebar'}} id={{if librarySidenavActive "sidebarIcon-close" "sidebarIcon-open"}}>
  <button class={{if librarySidenavActive "c-hamburger c-hamburger--htla is-active sidebarIcon-close" "c-hamburger c-hamburger--htla sidebarIcon-open"}}>
    <span>toggle menu</span>
  </button>
</a>
{{library-navbar model=model librarySidenavActive=librarySidenavActive class="ps-container ps-theme-default ps-active-y"}}
{{!-- {{/liquid-if}} --}}

<div id={{if librarySidenavActive "library-content-menu" "library-content-nomenu"}}>
  {{outlet}}
</div>
